apache-airflow-providers-amazon
pandas
requests
selenium
webdriver-manager
python-dotenv
docling
mistralai>=1.5.1,<2.0.0
torch>=2.0.0
numpy
chromadb==0.4.22
pinecone>=2.0.0
huggingface-hub==0.16.4
sentence-transformers==2.2.2
transformers==4.36.2
langchain-text-splitters
safetensors
accelerate
nltk
scikit-learn